* {
    font-family: 'Myriad Pro', sans-serif;
    letter-spacing: 0.7px;
}

.mobile-menu-offcanvas {
    background: radial-gradient(at top, #1e3f72, #091023);
    .btn-close {
        filter: invert(1);
        opacity: 1;
    }
    .offcanvas-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .logo-block {
        img {
            max-width: 200px;
        }
    }
    .nav-block {
        .accordion {
            .accordion-item {
                background: none;
                border: none;
                .accordion-header {
                    border: none !important;
                    .accordion-button {
                        padding: 15px 0;
                        background: none;
                        color: #fff;
                        font-size: 20px;
                        line-height: 24px;
                        outline: none;
                        border: none;
                        box-shadow: none;
                        &[aria-expanded="true"] {
                            border-bottom: 1px solid #fff;
                        }
                        &::after {
                            filter: brightness(0) invert(1);
                            opacity: 1;
                        }
                    }
                }
                .accordion-body {
                    border: none;
                    padding: 0 15px 15px;
                    ul {
                        list-style-type: none;
                        padding: 0;
                        margin: 0;
                        li {
                            a {
                                color: #fff;
                                font-size: 18px;
                                line-height: 22px;
                                text-decoration: none;
                                display: block;
                                padding: 8px 0;
                                padding: 15px 0 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .actions-block {
        gap: 15px;
        .header-phone-button {
            display: inline-block;
            text-decoration: none;
            padding: 0 0 0 35px;
            position: relative;
            text-align: center;
            &::before {
                content: '';
                display: inline-block;
                width: 30px;
                height: 30px;
                background: url('../img/phone-icon.svg'), linear-gradient(135deg, #0f63ab 0%, #02306e 100%);
                background-repeat: no-repeat;
                background-size: 18px, auto;
                background-position: 50%, 50%;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
            .text-label {
                color: #ffffff;
                font-size: 12px;
                line-height: 14px;
                font-weight: 400;
                margin: 0;
            }
            .phone-number {
                color: #ffffff;
                font-size: 17px;
                line-height: 19px;
                font-weight: 700;
                margin: 0;
            }
        }
        .header-cta-button {
            display: inline-block;
            margin: 0;
            padding: 12px 20px;
            background: linear-gradient(to bottom, #ff9100 0%, #ff6a00 100%);
            border-radius: 5px;
            color: #ffffff;
            font-size: 18px;
            line-height: 20px;
            font-weight: 700;
            text-decoration: none;
            text-transform: uppercase;
            transition: all 0.5s ease;
            border: 1px solid #d35400;
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
            &:hover {
                opacity: 0.9;
            }
        }
    }
}
