section.welcome-block {
    padding: 15px 0 0;
    position: relative;
    overflow: hidden;
    &::before {
        content: "";
        position: absolute;
        top: 0; 
        left: 0;
        right: 0;
        bottom: 0;        
        background: url('../img/welcome-block-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;        
        filter: blur(3px);
        transform: scale(1.1);
        z-index: -1;
    }
    .welcome-block-content {
        .text-block {
            max-width: 50%;
            width: 100%;
        }
        .illustration-block {
            max-width: 50%;
            width: 100%;
            img {
                display: block;
                max-width: 100%;
                margin: 0 auto;
            }
        }
        .page-title {
            max-width: 500px;
            color: #fff;
            font-size: 56px;
            line-height: 64px;
            font-weight: 700;
            margin: 45px 0 10px;
            padding: 0 0 10px;
            position: relative;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
            span {
                display: block;
                margin: 0 0 0 80px;
            }
            &::after {
                content: '';
                display: inline-block;
                width: 100%;
                height: 3px;
                background: linear-gradient(to right, transparent, rgba(255, 255, 255, .7), transparent);
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
        .page-subtitle {
            color: rgba(255, 255, 255, .7);
            font-size: 26px;
            line-height: 32px;
            font-weight: 400;
            margin: 0 0 35px 80px;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
        }
        .buttons-block {
            max-width: 480px;
            width: 100%;
            gap: 15px;
            .request-service,
            .call-now {
                display: block;
                max-width: 50%;
                width: 100%;
                border-radius: 5px;
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;
                transition: all 0.3s ease;
                box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
                text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
                &:hover {
                    opacity: 0.9;
                }
            }
            .request-service {
                color: #fff;
                font-size: 22px;
                line-height: 24px;
                font-weight: 600;
                padding: 16px;
                background: linear-gradient(135deg, #42ade3, #074ba0);
            }
            .call-now {
                padding: 9px 12px;
                background: linear-gradient(135deg, #0e264c, #051429);
                .text-label {
                    color: #fff;
                    font-size: 12px;
                    line-height: 14px;
                    margin: 0;
                }
                .phone-number {
                    max-width: max-content;
                    color: #fff;
                    font-size: 22px;
                    line-height: 24px;
                    margin: 0 auto;
                    padding: 0 0 0 30px;
                    position: relative;
                    &::before {
                        content: '';
                        display: inline-block;
                        width: 26px;
                        height: 26px;
                        background: url('../img/phone-icon.svg');
                        background-repeat: no-repeat;
                        background-size: 20px;
                        background-position: 50%;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                    }
                }
            }
        }
    }
}
section.benefits {
    background: radial-gradient(at top, #193d6f, #04132a);
    padding: 4px 0;
    position: relative;
    &::before, &::after {
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        background: linear-gradient(90deg, transparent 0%, #ffffff 40% 60%, transparent 100%);
        position: absolute;
        left: 0;
    }
    &::before {
        top: 0;
    }
    &::after {
        bottom: 0;
    }
    .benefits-content {
        .benefits-items {
            padding: 20px 0;
            .benefit-item {
                position: relative;
                img {
                    display: block;
                    transition: all 0.5s ease;
                    max-width: calc(100% - 30px);
                    margin: 0 auto;
                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }
            .sep {
                display: inline-block;
                width: 2px;
                background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, .5), transparent);
            }
        }
    }
}
.empty-background-fill {
    height: 700px;
    background: radial-gradient(at center top, #183a68, #05162a);
}
