@media (max-width: 1199px) {
    header {
        .logo-block {
            img {
                max-width: 200px;
            }
        }
        .actions-block {
            .header-cta-button {
                padding: 10px 12px;
                font-size: 14px;
            }
        }
    }
}
@media (max-width: 991px) {
    section.welcome-block {
        .welcome-block-content {
            .text-block {
                max-width: 100%;
                .page-title {
                    max-width: 100%;
                    text-align: center;
                    span {
                        display: initial;
                        margin: 0;
                    }
                }
                .page-subtitle {
                    margin: 0 0 40px;
                    text-align: center;
                }
                .buttons-block {
                    max-width: 100%;
                }
            }
            .illustration-block {
                max-width: 100%;
                display: flex;
                flex-direction: row;
                gap: 20px;
                .buttons-block {
                    max-width: 50%;
                    width: 100%;
                    flex-direction: column;
                    .request-service, .call-now {
                        max-width: 100%;
                    }
                    .request-service {
                        font-size: 18px;
                    }
                }
                img {
                    max-width: 50%;
                    width: 100%;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    section.benefits {
        .benefits-content {
            .benefits-mobile-slider {
                max-width: 350px;
                width: calc(100% - 30px);
                margin: 0 auto;
                padding: 30px 0;
                .slick-slide {
                    img {
                        max-width: calc(100% - 30px);
                        margin: 0 auto;
                        
                    }
                }
            }
        }
    }
}
@media (max-width: 575px) {
    section.welcome-block {
        .welcome-block-content {
            .page-title {
                font-size: 36px;
                line-height: 42px;
                margin: 20px 0 10px;
            }
            .illustration-block {
                flex-direction: column;
                .buttons-block {
                    flex-direction: row;
                    max-width: 100%;
                }
                img {
                    max-width: 300px;
                }
            }
        }
    }
}
